.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background-color: #1e1e2f;
  color: white;
}

.logo {
  font-size: 22px;
  font-weight: bold;
  cursor: pointer;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
}

.nav-links li a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  transition: 0.3s;
}

.nav-links li a:hover {
  color: #a855f7; /* purple accent */
}